In [94]:
# Importación de paqqueterias
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
import matplotlib.pyplot as plt

In [95]:
xlsx_file_path = r'C:\Users\Mao\Documents\Estudio\Introduccion Ciencia de Datos\Clases asincronas\solucion\Data DS Cotton Plus.xlsx'

df = pd.read_excel(xlsx_file_path, sheet_name = "BD", engine = "openpyxl")
df_copy = df.__copy__()

In [96]:
df_copy.head(5)

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,...,TelefonoOficina,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0,11001,...,NaN,NaN,0,0,0,0,0,0,0,0
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0,11001,...,NaN,NaN,179900,0,0,0,0,0,0,0
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0,11101,...,NaN,NaN,451200,0,0,0,0,0,0,0
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0,11001,...,NaN,NaN,0,0,0,0,0,0,0,1859600
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0,11101,...,NaN,NaN,0,0,0,0,0,0,0,0

In [97]:
df_copy.shape

(9976, 40)

In [98]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9976 entries, 0 to 9975
Data columns (total 40 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Cedula                                                            9976 non-null   int64
 1   Nombre Completo                                                   9976 non-null   object
 2   Segmento                                                          9976 non-null   object
 3   Compro 2019?                                                      9976 non-null   object
 4   Compro 2020?                                                      9976 non-null   object
 5   Monto Comprado 2019?                                              9976 non-null   int64
 6   Nro Transacciones 2019                                            9976 non-null   int64
 7   Monto Comprado 2020                                               9976 non-null   int64
 8   Nro Transacciones 2020                                            9976 non-null   int64
 9   Tipo de Contacto                                                  9976 non-null   int64
 10  Es Contactable                                                    9976 non-null   object
 11  Ciudad de Residencia                                              9976 non-null   object
 12  Mail                                                              0 non-null      float64
 13  Direccion                                                         0 non-null      float64
 14  Genero                                                            9976 non-null   object
 15  Estado Civil                                                      9976 non-null   object
 16  Fecha Nacimiento                                                  9976 non-null   int64
 17  Mes Nacimiento                                                    9976 non-null   object
 18  Dia Nacimiento                                                    9976 non-null   int64
 19  Edad                                                              9976 non-null   int64
 20  Monto Total de ultima compra                                      9976 non-null   int64
 21  Cantidad Articulos                                                9976 non-null   int64
 22  Recencia (Tiempo transcurrido en semanas desde su ultima compra)  9976 non-null   int64
 23  Frecuencia (Cantidad items comprados)                             9976 non-null   int64
 24  Direccion Valido?                                                 9976 non-null   object
 25  Mail Valido?                                                      9976 non-null   object
 26  Cel Valido?                                                       9976 non-null   object
 27  Tel Ofc Valid?                                                    9976 non-null   object
 28  Tel Casa Valido?                                                  9976 non-null   object
 29  Telefono Movil                                                    0 non-null      float64
 30  TelefonoOficina                                                   0 non-null      float64
 31  Telefono Casa                                                     0 non-null      float64
 32  Monto - MARCA COTTON- B/quilla.                                   9976 non-null   int64
 33  Monto - Brand Store Cucuta                                        9976 non-null   int64
 34  Monto - MARCA COTTON- Bucaramanga                                 9976 non-null   int64
 35  Monto - MARCA COTTON- Manizales                                   9976 non-null   int64
 36  Monto - MARCA COTTON- Pereira                                     9976 non-null   int64
 37  Monto - MARCA COTTON- Cartagena                                   9976 non-null   int64
 38  Monto - MARCA COTTON- Pasto                                       9976 non-null   int64
 39  Monto - MARCA COTTON- Cable Plaza                                 9976 non-null   int64
dtypes: float64(5), int64(21), object(14)
memory usage: 3.0+ MB

In [99]:
df_copy.describe()

,Cedula,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,Mail,Direccion,Fecha Nacimiento,Dia Nacimiento,...,TelefonoOficina,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza
count,"9,976.0","9,976.0","9,976.0","9,976.0","9,976.0","9,976.0",0.0,0.0,"9,976.0","9,976.0",...,0.0,0.0,"9,976.0","9,976.0","9,976.0","9,976.0","9,976.0","9,976.0","9,976.0","9,976.0"
mean,"4,988.5","243,867.0",2.5,"25,067.0",0.3,"9,268.5",NaN,NaN,"19,554,868.8",15.1,...,NaN,NaN,"28,802.5",0.0,"10,751.7","40,820.2","29,647.3","26,573.5","10,075.5","44,148.1"
std,"2,880.0","456,434.6",4.7,"132,247.7",1.3,"3,745.5",NaN,NaN,"1,698,869.1",9.1,...,NaN,NaN,"229,728.2",0.0,"88,087.0","186,231.9","248,932.9","373,547.5","110,133.3","244,396.2"
min,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,1.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,"2,494.8",0.0,0.0,0.0,0.0,"10,101.0",NaN,NaN,"19,660,930.0",7.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,"4,988.5","113,485.0",1.0,0.0,0.0,"11,100.0",NaN,NaN,"19,790,608.5",15.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,"7,482.2","288,625.0",3.0,0.0,0.0,"11,101.0",NaN,NaN,"19,850,921.2",23.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,"9,976.0","9,231,860.0",92.0,"6,448,400.0",60.0,"11,101.0",NaN,NaN,"20,001,020.0",31.0,...,NaN,NaN,"6,928,460.0",0.0,"3,513,565.0","4,900,940.0","8,752,705.0","31,004,180.0","6,119,336.0","7,644,480.0"

In [100]:
# se eliminan los duplicados en al Cedula

len_cedula = len(df['Cedula'].unique())

if len_cedula == df.shape[0]:
    del df['Cedula'], df['Nombre Completo']

df.head(5)

,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,Es Contactable,Ciudad de Residencia,...,TelefonoOficina,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza
0,Aficionados,Si,No,264800,2,0,0,11001,Si,BUCARAMANGA,...,NaN,NaN,0,0,0,0,0,0,0,0
1,Esporádicos,Si,No,179900,1,0,0,11001,Si,BARRANQUILLA,...,NaN,NaN,179900,0,0,0,0,0,0,0
2,Aficionados,Si,No,189800,2,0,0,11101,Si,BARRANQUILLA,...,NaN,NaN,451200,0,0,0,0,0,0,0
3,Aficionados,Si,No,65900,1,0,0,11001,Si,MANIZALES,...,NaN,NaN,0,0,0,0,0,0,0,1859600
4,Aficionados,Si,No,238800,2,0,0,11101,Si,FLORIDABLANCA,...,NaN,NaN,0,0,0,0,0,0,0,0

no se encontraron dtos duplicados en la cedula

se eliminan las columnas que contienen datos NAN

df['Mail'], df['Direccion'], df['Telefono Movil'], df['TelefonoOficina'], df['Telefono Casa'], df['Monto - Brand Store Cucuta'], df['Es Contactable']
df.head(5)

In [101]:
df_copy.drop(columns = [
'Cedula',
'Nombre Completo',
'Tipo de Contacto',
'Mail',
'Direccion',
'Fecha Nacimiento',
'Mes Nacimiento',
'Dia Nacimiento',
'Telefono Movil',
'TelefonoOficina',
'Telefono Casa',
'Monto - Brand Store Cucuta'], inplace=True)

In [102]:
df_copy.describe(include='all')

,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Es Contactable,Ciudad de Residencia,Genero,...,Cel Valido?,Tel Ofc Valid?,Tel Casa Valido?,Monto - MARCA COTTON- B/quilla.,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza
count,9976,9976,9976,"9,976.0","9,976.0","9,976.0","9,976.0",9976,9976,9976,...,9976,9976,9976,"9,976.0","9,976.0","9,976.0","9,976.0","9,976.0","9,976.0","9,976.0"
unique,5,2,2,NaN,NaN,NaN,NaN,1,251,2,...,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Aficionados,Si,No,NaN,NaN,NaN,NaN,Si,MEDELLIN,Mujer,...,Si,No,Si,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,6845,6122,9003,NaN,NaN,NaN,NaN,9976,2075,5980,...,6538,9952,7664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,"243,867.0",2.5,"25,067.0",0.3,NaN,NaN,NaN,...,NaN,NaN,NaN,"28,802.5","10,751.7","40,820.2","29,647.3","26,573.5","10,075.5","44,148.1"
std,NaN,NaN,NaN,"456,434.6",4.7,"132,247.7",1.3,NaN,NaN,NaN,...,NaN,NaN,NaN,"229,728.2","88,087.0","186,231.9","248,932.9","373,547.5","110,133.3","244,396.2"
min,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,NaN,NaN,NaN,"113,485.0",1.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,NaN,NaN,NaN,"288,625.0",3.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,NaN,NaN,NaN,"9,231,860.0",92.0,"6,448,400.0",60.0,NaN,NaN,NaN,...,NaN,NaN,NaN,"6,928,460.0","3,513,565.0","4,900,940.0","8,752,705.0","31,004,180.0","6,119,336.0","7,644,480.0"

In [103]:
df_copy.shape

(9976, 28)

In [104]:
# filas con nan
df_copy.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
9971    0
9972    0
9973    0
9974    0
9975    0
Length: 9976, dtype: int64

In [105]:
df_copy['Genero'].value_counts()

Mujer     5980
Hombre    3996
Name: Genero, dtype: int64

In [106]:
cont_segmento = df_copy['Segmento'].value_counts()
cont_segmento

Aficionados    6845
Esporádicos    2495
Inactivo        296
Adictos         181
Curiosos        159
Name: Segmento, dtype: int64

In [154]:
## cuantaos tipos de vble

df_copy.nunique()

Segmento                                                               5
Compro 2019?                                                           2
Compro 2020?                                                           2
Monto Comprado 2019?                                                3131
Nro Transacciones 2019                                                56
Monto Comprado 2020                                                  574
Nro Transacciones 2020                                                22
Es Contactable                                                         1
Ciudad de Residencia                                                 251
Genero                                                                 2
Estado Civil                                                           6
Edad                                                                  73
Monto Total de ultima compra                                        5207
Cantidad Articulos                                                   197
Recencia (Tiempo transcurrido en semanas desde su ultima compra)      46
Frecuencia (Cantidad items comprados)                                 91
Direccion Valido?                                                      2
Mail Valido?                                                           2
Cel Valido?                                                            2
Tel Ofc Valid?                                                         2
Tel Casa Valido?                                                       2
Monto - MARCA COTTON- B/quilla.                                      385
Monto - MARCA COTTON- Bucaramanga                                    213
Monto - MARCA COTTON- Manizales                                      681
Monto - MARCA COTTON- Pereira                                        395
Monto - MARCA COTTON- Cartagena                                      309
Monto - MARCA COTTON- Pasto                                          196
Monto - MARCA COTTON- Cable Plaza                                    646
ones                                                                   1
dtype: int64

In [107]:
pd.options.display.float_format='{:,.1f}'.format

In [108]:
frec_rel_segm = df_copy['Segmento'].value_counts() / df_copy['Segmento'].value_counts().sum()*100
frec_rel_segm

Aficionados   68.6
Esporádicos   25.0
Inactivo       3.0
Adictos        1.8
Curiosos       1.6
Name: Segmento, dtype: float64

%

In [109]:
df_copy['ones']=1

In [112]:
df_compra2019 = df_copy.groupby(['Segmento','Compro 2019?'])[['ones']].sum()

#df_compra2019.rename(columns = {'Compro 2019?':'Compro'}, inplace=True)

#df_compra2019['cantidad'] = df_compra2019['ones']

df_compra2019

                          ones
Segmento    Compro 2019?
Adictos     No               1
            Si             180
Aficionados No            1992
            Si            4853
Curiosos    No             152
            Si               7
Esporádicos No            1413
            Si            1082
Inactivo    No             296

In [113]:
df_compra2019['porc'] = df_compra2019.apply(lambda x: x/x.sum()*100)
df_compra2019

                          ones  porc
Segmento    Compro 2019?
Adictos     No               1   0.0
            Si             180   1.8
Aficionados No            1992  20.0
            Si            4853  48.6
Curiosos    No             152   1.5
            Si               7   0.1
Esporádicos No            1413  14.2
            Si            1082  10.8
Inactivo    No             296   3.0

In [ ]:
df_compra2019.groupby(level=0).apply(lambda x: x/x.sum()*100)

                          ones  cantidad
Segmento    Compro 2019?
Adictos     No             0.6       0.6
            Si            99.4      99.4
Aficionados No            29.1      29.1
            Si            70.9      70.9
Curiosos    No            95.6      95.6
            Si             4.4       4.4
Esporádicos No            56.6      56.6
            Si            43.4      43.4
Inactivo    No           100.0     100.0

In [ ]:
df_compra2020 = df_copy.groupby(['Segmento','Compro 2020?'])[['ones']].sum()
#df_compra2020['cantidad'] = df_copy.groupby(['Segmento','Compro 2020?'])[['ones']].sum()
df_compra2020

                          ones
Segmento    Compro 2020?
Adictos     No              67
            Si             114
Aficionados No            6024
            Si             821
Curiosos    No             159
Esporádicos No            2457
            Si              38
Inactivo    No             296

In [ ]:
df_compra2020['porc'] = df_compra2020.apply(lambda x: x/x.sum()*100)
df_compra2020

                          ones  porc
Segmento    Compro 2020?
Adictos     No              67   0.7
            Si             114   1.1
Aficionados No            6024  60.4
            Si             821   8.2
Curiosos    No             159   1.6
Esporádicos No            2457  24.6
            Si              38   0.4
Inactivo    No             296   3.0

In [ ]:
df_aux = df_copy.groupby(['Segmento','Ciudad de Residencia'])['Monto Comprado 2019?']
df_aux.describe()

                               count        mean         std         min  \
Segmento Ciudad de Residencia
Adictos  ARBOLETES               1.0 2,005,103.0         NaN 2,005,103.0
         BARRANCABERMEJA         2.0 2,749,955.0   729,812.0 2,233,900.0
         BARRANQUILLA           16.0 2,398,338.8 1,112,114.0   597,000.0
         BOGOTA                 11.0 2,883,958.2 2,593,280.0         0.0
         BUCARAMANGA             2.0 1,541,365.0   226,606.5 1,381,130.0
...                              ...         ...         ...         ...
Inactivo SABANETA                1.0         0.0         NaN         0.0
         SANTA ROSA DE CABAL     1.0         0.0         NaN         0.0
         SOACHA                  1.0         0.0         NaN         0.0
         Sin especificar        86.0         0.0         0.0         0.0
         TABIO                   1.0         0.0         NaN         0.0

                                      25%         50%         75%         max
Segmento Ciudad de Residencia
Adictos  ARBOLETES            2,005,103.0 2,005,103.0 2,005,103.0 2,005,103.0
         BARRANCABERMEJA      2,491,927.5 2,749,955.0 3,007,982.5 3,266,010.0
         BARRANQUILLA         1,487,620.0 2,566,760.0 3,055,892.5 4,386,730.0
         BOGOTA               1,663,320.0 2,075,760.0 2,966,780.0 9,231,860.0
         BUCARAMANGA          1,461,247.5 1,541,365.0 1,621,482.5 1,701,600.0
...                                   ...         ...         ...         ...
Inactivo SABANETA                     0.0         0.0         0.0         0.0
         SANTA ROSA DE CABAL          0.0         0.0         0.0         0.0
         SOACHA                       0.0         0.0         0.0         0.0
         Sin especificar              0.0         0.0         0.0         0.0
         TABIO                        0.0         0.0         0.0         0.0

[420 rows x 8 columns]

In [ ]:
df_copy.groupby(['Segmento','Compro 2020?'])['Compro 2020?'].count()

Segmento     Compro 2020?
Adictos      No                67
             Si               114
Aficionados  No              6024
             Si               821
Curiosos     No               159
Esporádicos  No              2457
             Si                38
Inactivo     No               296
Name: Compro 2020?, dtype: int64

In [ ]:
df_copy['Compro 2020?'].value_counts() / df_copy['Compro 2020?'].value_counts().sum()*100

No   90.2
Si    9.8
Name: Compro 2020?, dtype: float64

In [ ]:
df_copy['Compro 2019?'].value_counts() / df_copy['Compro 2019?'].value_counts().sum()*100

Si   61.4
No   38.6
Name: Compro 2019?, dtype: float64

In [ ]:
df_copy.groupby(['Segmento','Ciudad de Residencia'])['Compro 2019?'].count()

Segmento  Ciudad de Residencia
Adictos   ARBOLETES                1
          BARRANCABERMEJA          2
          BARRANQUILLA            16
          BOGOTA                  11
          BUCARAMANGA              2
                                  ..
Inactivo  SABANETA                 1
          SANTA ROSA DE CABAL      1
          SOACHA                   1
          Sin especificar         86
          TABIO                    1
Name: Compro 2019?, Length: 420, dtype: int64

In [ ]:
df_copy.groupby('Segmento').count()

,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Es Contactable,Ciudad de Residencia,Genero,Estado Civil,...,Tel Ofc Valid?,Tel Casa Valido?,Monto - MARCA COTTON- B/quilla.,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza,ones
Segmento,,,,,,,,,,,,,,,,,,,,,
Adictos,181,181,181,181,181,181,181,181,181,181,...,181,181,181,181,181,181,181,181,181,181
Aficionados,6845,6845,6845,6845,6845,6845,6845,6845,6845,6845,...,6845,6845,6845,6845,6845,6845,6845,6845,6845,6845
Curiosos,159,159,159,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159,159,159,159
Esporádicos,2495,2495,2495,2495,2495,2495,2495,2495,2495,2495,...,2495,2495,2495,2495,2495,2495,2495,2495,2495,2495
Inactivo,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296

# Contacto mas probable

In [145]:
df_copy.dtypes

Segmento                                                            object
Compro 2019?                                                        object
Compro 2020?                                                        object
Monto Comprado 2019?                                                 int64
Nro Transacciones 2019                                               int64
Monto Comprado 2020                                                  int64
Nro Transacciones 2020                                               int64
Es Contactable                                                      object
Ciudad de Residencia                                                object
Genero                                                              object
Estado Civil                                                        object
Edad                                                                 int64
Monto Total de ultima compra                                         int64
Cantidad Articulos                                                   int64
Recencia (Tiempo transcurrido en semanas desde su ultima compra)     int64
Frecuencia (Cantidad items comprados)                                int64
Direccion Valido?                                                   object
Mail Valido?                                                        object
Cel Valido?                                                         object
Tel Ofc Valid?                                                      object
Tel Casa Valido?                                                    object
Monto - MARCA COTTON- B/quilla.                                      int64
Monto - MARCA COTTON- Bucaramanga                                    int64
Monto - MARCA COTTON- Manizales                                      int64
Monto - MARCA COTTON- Pereira                                        int64
Monto - MARCA COTTON- Cartagena                                      int64
Monto - MARCA COTTON- Pasto                                          int64
Monto - MARCA COTTON- Cable Plaza                                    int64
ones                                                                 int64
dtype: object

In [152]:
df_contacto = df_copy

KeyError: "None of [Index(['Ciudad de Residencia', 'Es Contactable', 'Direccion Valido?',\n       'Mail Valido?', 'Cel Valido?', 'Tel Ofc Valid?', 'Tel Casa Valido?'],\n      dtype='object')] are in the [index]"

In [ ]:
df_contacto.groupby(['','']).agg({'':[np.mean, np.median]})

In [ ]:
# Seleccionar un Segmento

df_contacto.xs('Segmento')['']

In [ ]:
# Graficar

# Perfil de compra

# Segmentación clientes por Recencia, Frecuencia y Monto de las transacciones.